<h1 class="title">{{site.about_me_title}}</h1>
<p class="description" data-aos="fade-down">
  ### Hi there, I'm Azhar - aka [QAStacker] 👋
</p>
<p class="description" data-aos="fade-down">
  👨‍💻 ## I'm a Quality Analyst and Tech Enthusiast, but long-term I intend to move towards becoming a Fullstack Developer.
</p>
<p class="description" data-aos="fade-down">
  💻 I like checking out open source projects and sharing my own code on <a class="highlight-link"
    href="https://github.com/qastacker" target="_blank" rel="noreferrer"> Github </a>.
</p>
<p class="description" data-aos="fade-down">
  - 🔭 I’m currently working on Automation testing tools such as Selenium WebDriver, WebdriverIO, Appium, Rest-Assured, Performance Testing(JMETER), and Manual Testing.
</p>
<p class="description" data-aos="fade-down">
  - 🌱 I currently developing and maintaining an extensible Test automation framework for web applications, API, and Mobile testing 😉
</p>
<p class="description" data-aos="fade-down">
 - 👯 I’m looking to collaborate with other QA Mentors, Fullstack developers
</p>
<p class="description" data-aos="fade-down">
  📈 I am passionate about investing and I'm planning to share my experiences on a blog later on.
</p>
